doctype html
/[if lt IE 7]
  | <html class='ie ie6 lt-ie9 lt-ie8 lt-ie7'>
/[if IE 7]
  | <html class='ie ie7 lt-ie9 lt-ie8'>
/[if IE 8]
  | <html class="ie ie8 lt-ie9">
/[if IE 9]
  | <html class='ie ie9'>
| <!--[if (gte IE 9)|!(IE)]<!-->
html
  | <!--<![endif]-->
  head
    meta charset='utf-8'
    meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'
    link rel="icon" type="image/png" href="_public/fav2.jpg?sd"

    title Bentellect
    
    link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"
    link href='_public/main.v91.css?sdf3' rel='stylesheet'
    meta name="description" content="Official music video for Bentellect's single - I'm Dying - off of his album BENT. Director - Robert Henry - Producer - Von91 - Tiffany Tarrolly - Director of Photography - Dylan Curzon - Assistant Camera/PA - Lacie Petrash"
  
    meta#viewport name="viewport"

    javascript:
      | (function (doc) { var viewport = document.getElementById('viewport'); if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPod/i)) { doc.getElementById("viewport").setAttribute("content", "width=440px, minimum-scale=0.7, maximum-scale=.7, user-scalable = no"); } else if (navigator.userAgent.match(/iPad/i)) { doc.getElementById("viewport").setAttribute("content", "width=900px, minimum-scale=.8, maximum-scale=.8, user-scalable = no"); } }(document));

    javascript:
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-36318846-4', 'auto'); ga('send', 'pageview');
      
  body 
  img.hidden src="_public/shareHero.jpg"
    header.main
      .innerContainer 
        a.logo.col href="http://www.bentellect.com" Ben Tellect

        nav.main.col
          ul
            li
              a target="_blank" href="http://soundcloud.com/bentellect" title="Soundcloud"
                i class="fa fa-soundcloud"
            li 
              a target="_blank" href="https://twitter.com/bentellect" title="Twitter"
                i class="fa fa-twitter-square"
            li 
              a target="_blank" href="https://www.facebook.com/Bentellect" title="Facebook"
                i class="fa fa-facebook-square"
            li
              a target="_blank" href="https://www.youtube.com/channel/UCyQHab6hU_5cqhK6wRS173w/videos" title="Youtube"
                i class="fa fa-youtube-square"
            li
              a href="http://cl.v91.co/WvgL/download/BENT.zip" title="Download"
                i class="fa fa-cloud-download"
            li
              a href="mailto:bentellect@gmail.com" title="Contact"
                i class="fa fa-paper-plane-o"
    footer.main
      .innerContainer

    iframe width="1280" height="720" src="https://www.youtube.com/embed/dBKUsBaLQms?controls=0&showinfo=0&wmode=transparent&enablejsapi=1&origin=http%3A%2F%2Fwww.bentellect.com&autoplay=1" frameborder="0"

